/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .movie-poster,
    .desktop-nav,
    #map {
        display: none;
    }

    .movie-details h3 {
        font-size: 1.1rem;
    }

    .movie-details p,
    .movie-details span {
        font-size: .9rem;
    }

    .movie-details .synopsis-meta {
        margin-bottom: 1rem;
    }

    .movie-header h1 {
        font-size: 1rem;
        margin-top: 20px;
    }

    .menu-toggle span {
        width: 22px;
        height: 1px;
    }

    .js-iframe {
        width: 280px;
        height: 215px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .movie-poster,
    .desktop-nav,
    .movie-details {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .js-iframe {
        width: 318px;
        height: 215px;
    }

    .movie-details h3 {
        font-size: 1.3rem;
    }

    .movie-details p,
    .movie-details span {
        font-size: 1rem;
    }

    .movie-details .synopsis-meta {
        margin-bottom: 1rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .movie-poster,
    .desktop-nav,
    .movie-details {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .video-details iframe {
        height: 280px;
    }


    .dropdown-flags img {
        width: 30px;
    }

    .js-iframe {
        width: 640px;
        height: 360px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .mobile-nav,
    .movie-thumb {
        display: none;
    }


    .movie-details {
        display: block;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .movie-poster {
        display: none;
    }

    .video-details iframe {
        height: 280px;
    }

    .synopsis-meta span {
        display: inline-block;
    }

    .movie-footer ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .excerpt {
        font-size: 1.1rem;
    }

    .js-iframe {
        width: 390px;
        height: 215px;
    }

    .movie-details h3 {
        font-size: 1.4rem;
    }

    .movie-details p,
    .movie-details span {
        font-size: 1rem;
    }

    .movie-details .synopsis-meta {
        margin-bottom: 1rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mobile-nav,
    .movie-thumb {
        display: none;
    }


    .movie-details {
        display: block;
    }

    .movie-poster {
        display: block;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .video-details iframe {
        height: 280px;
    }

    .excerpt {
        font-size: 1.1rem;
    }

    .synopsis-details img {
        width: 230px;
        margin-bottom: 1rem;
    }

    .synopsis-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .synopsis-meta span {
        display: inline-block;
    }

    .movie-footer ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .dropdown-flags img {
        width: 40px;
        margin: 0 auto;
    }

    .js-iframe {
        width: 430px;
        height: 242px;
    }

    .movie-details {
        margin-left: 30px;
    }

    .movie-details h3 {
        font-size: 2rem;
    }

    .movie-details p,
    .movie-details span {
        font-size: 1.3rem;
    }

    .movie-details .synopsis-meta {
        margin-bottom: 1rem;
    }


}
